
.header-container{
    display: flex;
    
    
    height: 100px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.logo-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.logo{
    height: 36px;
    margin-right: 13px;
}

.logo-text-container span{
    display: block;
    
}

.logo-text-container span:first-child{
    font-size: 24px;
    font-weight: 800;
}
.logo-text-container span:last-child{
    font-size: 16px;
    color: #7B7B7B;
}


.cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 120px;
    height: 50px;
    background-color: #FE5F1E;
    padding: 0 10px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.cart-img{
    width: 16px;
    margin-right: 3px;
}

.cart-btn{
    display: flex;
    justify-content: space-between;
}